/* #sidebar {
    position: absolute;
    right: 5%;
    top: 10px;
    z-index: 1000;
    height: auto;
    overflow: hidden;
    float: right;
    font-size: 12px;
} */

.filter {
    position: absolute;
    top: 5%;
    z-index: 1000;
    float: right;
    left: 350px;
    height: auto;
    overflow: hidden;
    font-size: 12px;
}

.IncidentMapSpin {
    position: absolute;
    top: 25%;
    right: 5%;
}