.Resources {
    height: 100vh;
    overflow: hidden;
    background: #fff;
}

.Resources .header {
    background: #fff;
    border-bottom: 1px solid rgb(224, 224, 224);
    padding: 0 10px;
}

.Resources .actions {
    display: flex;
    justify-content: space-between;
}

.Resources .content {
 padding: 15px;
}