.NewIncidentSider {
    width: 28.5vw;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1000;
    background-color: #ffffff;
    overflow-x: hidden;
    height: 100vh;
}