.WarehouseTable .tableOperations {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 16px;
}

.WarehouseTable .nameFilter{
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 0
}