.stakeholderProfile {
  background: #fff;
  height: 100%;
  overflowY: auto
}

.stakeholderProfile .header {
  padding: 7px 15px;
  border-bottom: 1px solid #E0E0E0;
}

.stakeholderProfile .addMember {
  border: 0;
  font-size: 20px;
}