.MapNav {
    width: 380px;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1000;
    background-color: white;
    width: 380px;
    overflow-x: hidden
}

.topNav {
    position: absolute;
    left: 120px;
    top: 10px;
    z-index: 1000;
    height: auto;
    overflow: hidden;
    font-size: 12px
}

.filterNav {
    position: absolute;
    top: 54px;
    z-index: 1000;
    float: right;
    /* left: 10px; */
    height: auto;
    overflow: hidden;
    font-size: 12px;
}

.IncidentList {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 86vh;
    overflow-y: auto;
    border-top: 1px solid #e8e8e8;
}

.MapNavSearch {
    border-bottom: 1px solid #e8e8e8;
    margin: 15px 0 15px 20px;
    width: 90%;
}

.MapNavHeader {
    height: auto;
    line-height: 44px;
    border-bottom: 1px solid #e8e8e8;
    background-color: #ffffff;
    text-transform: uppercase;
}