

.alerts-heading {
  background-color:  #fafafa;
  padding: 2vh 0 1.5vh 1.5vw;
}

.alerts-heading div {
    font-size: 1.5vw;
    color: #9a92a5;
}

.ant-card-body {
    padding: 0px;
}


.alerts > .ant-divider-horizontal {
    margin-bottom: 0px;
}

#new-alert {
    margin-left:  9.5vw;
    font-size: 1.6vw;
    font-weight: 520;
    color: #9a92a5;
}




.map-export-text span {
    font-size: 1.4vw;
    color: #9a92a5;
}

.map-export-text span:nth-child(1) {
    margin-right: 2vw;
}