.IncidentTypedescription{ 
    white-space: nowrap;
   overflow: hidden; 
   text-overflow: ellipsis; 
   overflow-wrap: break-word;
   width: 50%;
   align-self: flex-end;
}
.IncidentTypeItemMeta  p {
    font-size: 12px;
    color: rgb(144, 144, 144);
}
.isSelected {
    background: #f0f0f0;
  }
  .name{
    cursor: pointer;
  }

  .IncidentTypeItemDescription{
        overflow: hidden;
        text-overflow: ellipsis;
        word-spacing: initial;
        height: 40px;
        word-break: break-all;
        padding-right: 7px;
  }