.ActivityProcedureItem {
  line-height: 50px;
  border-bottom: 1px dashed #e0e0e0;
  margin: 10px 0;
}

.ActivityProcedureItem .checkboxContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ActivityProcedureItem .name {
  display: inline-block;
  line-height: 22px;
}
