/*Utils styles*/

body {
  font-family: Lato, sans-serif;
}

body {
  height: 100vh;
}

/*-
--------------------------------------------------------------------------------
 Borders
--------------------------------------------------------------------------------
*/

.b-0 {
  border: none !important;
}

.b-b {
  border-bottom: 1px solid #E0E0E0;
}

.b-r {
  border-right: 1px solid #E0E0E0;
}

/*
--------------------------------------------------------------------------------
Fonts
--------------------------------------------------------------------------------
*/

.f-15 {
  font-size: 15px;
}

.f-20 {
  font-size: 20px;
}

.f-25 {
  font-size: 25px;
}

/* font weight */

.f-600 {
  font-weight: 600;
}

/*
--------------------------------------------------------------------------------
Margin
--------------------------------------------------------------------------------
*/

.m-t-15 {
  margin-top: 15px;
}

/*
--------------------------------------------------------------------------------
Padding
--------------------------------------------------------------------------------
*/

.p-10 {
  padding: 10px;
}

.p-20 {
  padding: 20px;
}

.p-l-20 {
  padding-left: 20px;
}

.p-r-l-30 {
  padding: 0 30px;
}

/*
--------------------------------------------------------------------------------
Scroll Bar styles
--------------------------------------------------------------------------------
*/

/* width of the scrollbar */

/* ::-webkit-scrollbar {
  width: 5px;
} */

/* Track */

/* ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #cfcfcf;
  border-radius: 10px;
} */

/* Handle */

/* ::-webkit-scrollbar-thumb {
  background: #cdcdcd;
  border-radius: 10px;
} */

.section {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.section .header {
  flex: 0 0 50px;
}

.section .content {
  flex: 1 0;
  padding-bottom: 20px;
}

.section .footer {
  flex: 0 0;
}

/*
--------------------------------------------------------------------------------
Scrollable content
--------------------------------------------------------------------------------
*/

.scrollable {
  overflow: hidden;
}

/* show scroll bar on hover */

.scrollable:hover {
  overflow-x: hidden;
  overflow-y: auto;
}
