/*Utils styles*/

/*-
---------------------------------------
 Borders
---------------------------------------
*/

.b-0 {
  border: none;
}

/*
---------------------------------------
Fonts
---------------------------------------
*/

.f-20 {
  font-size: 20px;
}

.f-15 {
  font-size: 15px;
}

/* font weight */

.f-b {
  font-weight: 600;
}
