.Stakeholders {
  height: 100vh;
  overflow: hidden;
}

.Stakeholders .header {
  background: #fff;
  padding-left: 10px;
  border-bottom: 1px solid rgb(224, 224, 224);
}

.Stakeholders .actionBar {
  display: flex;
  justify-content: flex-end;
  background: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 5%;
  border-bottom: 1px solid rgb(224, 224, 224);
  line-height: normal;
  height: auto;
}

.Stakeholders .content {
  flex-direction: row;
  flex: 1;
}

.Stakeholders .filters {
  width: 20%;
  border-right: 1px solid #E0E0E0;
}

.Stakeholders .list {
  width: 25%;
  border-right: 1px solid #E0E0E0;
}

.Stakeholders .profile {
  width: 55%;
}

.Stakeholders .loading {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}