



.alert-card-fonts, .alert-card-fonts-action, .truncate-text {
    color: #9a92a5;
}

.probable-duration {
    color: #9a92a5;
    margin: 0 0 3vh 0;
}

.alert-card-fonts-action-one {
    border-right: 1px solid #e8e8e8;
}




.ant-card {
    font-family: Lato, sans-serif;
}

.ant-card-bordered {
    border: 0;
}

.truncate-text {
    white-space: nowrap; 
    width: 350px; 
    overflow: hidden;
    text-overflow: ellipsis; 
}


.ant-card-custom-style .ant-card-body {
    padding: 0px;
}

.ant-card-custom-style {
    border-left: 15px solid #1871cf;
}

.alert-card-fonts-action {
    margin: 2vh 0 0 4vw;
    font-size: 1.1vw;
    height: 5.6vh;
    cursor: pointer;
}





/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .alert-column {
        border-right: 1px solid #e8e8e8;
        min-height: 600px;
    
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .alert-column {
        border-right: 1px solid #e8e8e8;
        min-height: 600px;
    
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .alert-column {
        border-right: 1px solid #e8e8e8;
        min-height: 768px;
    
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .alert-column {
        border-right: 1px solid #e8e8e8;
        min-height: 992px;
    
    }
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .alert-column {
        border-right: 1px solid #e8e8e8;
        min-height: 1200px;
    
    }

 
}
